html,body{
  border:0;
  margin:0;
}

@font-face {
  font-family: "SF Display Regula";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display Medium";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

@font-face {
  font-family: "SF Display Light";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

.container{
  width: 75%;
  margin: 0 auto;

}

h1{
  font-family: "SF Display Regular";
  font-size: 4rem;
  text-align: center;
}

h2{
  font-family: "SF Display Regular";
  font-size: 2rem;
  text-align: center;
}

h3{
  font-family: "SF Display Regular";
  font-size: 1.75rem;
  text-align: center;
}

p{
  font-family: "SF Display Medium";
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
}
a{
  font-family: "SF Display Medium";
  margin: 0%;
  text-decoration: none;
  color:white ;
  font-size: 1.5rem;
}

/* Header */

header {
  background-color: #00817A;
  width: 100%;
  position: fixed;

}

header nav {

  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: white;
}




nav{
  display: flex;
  justify-content: space-around;
  padding: 40px;
  height: 10px;
  width: 90%;

}
header nav ul{
  display: flex;
  justify-content: space-around;
}
nav ul li {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

 ul li {
  text-decoration: none;
  list-style: none;
  padding: 2rem;
 }

 ul {
  margin: 0 auto;
  padding:2rem;

}
.logo{
  display :flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
.logo img{

  width: 20%;
  height : 20%;


}
.navigation{

  display :flex;
  justify-content: space-around;
  align-items: center;
}
.enseigne{
  font-size: 2.5rem;
}
.game{
  border: 3px solid #BAEE7F;
  border-radius: 2rem;
  width: 130px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

/* Section one */
  main{
    background-color: #FFF7E8;
  }

  .main__section__one__content{
      display:flex;
      align-items: center;
      text-align: center;
  }

  .main__section__one__content {
      padding: 50px 0px 50px 0px;
      width: 100%;
      height: 50rem;
      background-color: #1FB7AE;
      font-size: 1rem;
      color: white;

  }
  .main__section__one__content__info{
    display:flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-top: 6rem;

    height: 50rem;

  }
  .main__section__one__content__info input{
    padding:1rem;
    align-content: center;
    width: 7rem;
    height: 1rem;
    margin: 0rem 2rem 4rem 2rem;
  }
  .main__section__one__content__info__one p{

    padding: 1rem;
    margin:0;
    padding:0;
  }
  .main__section__one__content__info__one{
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
  }
  .main__section__one__content__info__two input{
    width:70%

  }
  form{
    height:15rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .main__section__one__content__info__img img{

    width:300%;
    padding-left: 4rem;
  }

  #subheader_button {
      padding-top: 2%;
      display: block;
      width: 40rem;
      height: 5rem;
      margin: 0 auto;
      font-size: 1.25rem;

       }
  button {

      color: white;
      border-radius: 2rem;
      display: flex;
      border: 3px solid #BAEE7F;
      width: 30%;
      height: 3rem;
      font-size: 1em;
      margin: 0 auto;
      justify-content: center;
      background-color: #1FB7AE;
   }


   /*  Section 2   */
   .main__section__two__content{
     display:flex;
     justify-content: space-between;
     margin: 8em;
     padding-bottom: 5em;

   }
   .main__section__two__content__info {
    justify-content: center;
    text-align: center;
   }
   .main__section__two__content__info p{
     width:35rem;

   }
   .main__section__two__content__info img{
     width:20rem;
     height:20rem;
   }

   .game2{
     background-color: #1FB7AE;
     margin-left: 10rem;
     border-radius: 2rem;
     width: 180px;
     height: 40px;
     text-align: center;
     padding-top: 10px;

   }


   /*Responsive*/

   @media screen and (max-width: 1100px){

     .enseigne{
       font-size: 1.8rem;
   }
   @media screen and (max-width: 900px){

     .enseigne{
       visibility: hidden;
     }
     .logo img{

       width: 25%;
       height : 25%;


     }
   }
   @media screen and (max-width: 800px){


     .logo img{

       width: 50%;
       height : 50%;


     }
   }
   @media screen and (max-width: 600px){


     .logo img{

       width: 70%;
       height : 70%;
       padding-left: 23rem;

     }

     .navigation{

      visibility: hidden ;

     }
   }
